@import url("https://fonts.googleapis.com/css?family=Public+Sans&display=swap");


/** {
box-sizing: border-box;
margin: 0;
padding: 0;
border: green;
}*/

.App {
  text-align: center;
  margin: 0px;
}


div {
  font-family: "Public Sans", sans-serif;
  text-align: center;
}

.light {
  font-weight: 50;
  color: black;
  opacity: .3;
}
body {
  font-family: "Anton", sans-serif;
}

h1 {
  font-family: "Public Sans", sans-serif;
}

a {
  color: green;
}
/*not doing anything*/

a:hover {
  color: #222f3e;
  cursor: pointer;
}

.Mypicsclass {
font-family: "Public Sans", sans-serif;
}
/*not sure if I need this class, is on all galleery images but not using it yet*/


.carimages {
  padding: 20px;
  border-radius: 20%;
  height: 300px;
  width: 400px;
}

.Gallerywrapper {
  padding-top: 20px;
  background-color: white;
}

/*NavBar and Dropdown CSS begins*/

/*Mynavbar is a long container div with 3 columns, first for logo and dropdown, second blank, third for authlinks*/
.Mynavbar {
  display: grid;
  background-color: white;
  grid-template-columns: 1fr 8fr 1fr 1fr;
  justify-content: center;
  padding: 30px;
  grid-column-gap: 20px;
}

/*the container div for the actual logo symbol*/
.logocontainer {
  position: relative;
  grid-column: 1;
  bottom: 20px;
}

.logo {
  margin-top: 10px;
  height: 60px;
  width: 60px;
}

.logo:hover {
  cursor: pointer;
}


.dropbar {
  width: 100px;
  grid-column: 3;
  color: #1B6EB0;

}


.hamburger {
  grid-column: 4;
}



/*navbar ends*/




/*Lwrapperdiv and Colmdiv are in Galrender, and are just the Lightbox component*/
.Lwrapperdiv {
  padding: 15px;
  display: grid;
  justify-items: center;
  margin-top: 90px;
}

.colmdiv {
  height: 70%;
  width: 70%;
}
/*lightbox ends*/


#bioelement {
}


.bouncercontainer {
  position:relative;
  left:48%;
  width:15px;
  height:15px;
  margin:40px 0px 
}


/*bouncing animation begins. just give a iv or whatever a className of ball*/

.bouncer {


  width:15px;
  animation: bounce 0.5s;
  animation-direction: alternate;
  animation-timing-function: cubic-bezier(.5,0.05,1,.5);
  animation-iteration-count: infinite;
}

@keyframes bounce {
  from { transform: translate3d(0, 0, 0);     }
  to   { transform: translate3d(0, 10px, 0); }
}

/* Prefix Support */
bouncer {
  -webkit-animation-name: bounce;
  -webkit-animation-duration: 0.5s;
  -webkit-animation-direction: alternate;
  -webkit-animation-timing-function: cubic-bezier(.5,0.05,1,.5);
  -webkit-animation-iteration-count: infinite;
}

@-webkit-keyframes bounce {
  from { -webkit-transform: translate3d(0, 0, 0); transform: translate3d(0, 0, 0); }
  to   { -webkit-transform: translate3d(0, 200px, 0); transform: translate3d(0, 200px, 0); }
}
/*bouncing animation ends*/


@media only screen and (max-width: 800px) {
  .hamburger {
    grid-column: 3;
  }

  .logocontainer {
    grid-column: 2;
    justify-content: center;
  }

  .dropbar {
    grid-column: 1;
  }
}
 

@media only screen and (max-width: 500px) {
  .carimages {
    padding: 20px;
    border-radius: 20%;
    height: 300px;
    width: 300px;
  }



 
}

/*classes to keep, mypicsclass, mynavbar, gallerywrapper, myelement, mybotelement, myel?, Lwrapperdiv, colmdiv*/
