@import url("https://fonts.googleapis.com/css?family=Public+Sans&display=swap");
@import url('https://fonts.googleapis.com/css?family=Gelasio&display=swap');
@import url('https://fonts.googleapis.com/css?family=EB+Garamond:400,500&display=swap');
@import url('https://fonts.googleapis.com/css?family=Itim|Open+Sans|Quicksand&display=swap');

/** {
box-sizing: border-box;
margin: 0;
padding: 0;
border: green;
}*/

.App {
  background-color: #fff;
  text-align: center;
  position: relative;
  min-height: 100vh;
  padding-bottom:10px;
}

.smallscreen { display: none; }
/*this is the dropdown for mobiles*/

div {
  font-family: "Public Sans", sans-serif;
  text-align: center;
}


body {
  font-family: "Anton", sans-serif;
}

h1 {
  font-family: "Public Sans", sans-serif;
}

.dropitems {color: #1B6EB0;
font-family: quicksand;}

a {
  color: red;
  font-family: Public Sans;
}
/*not doing anything*/

a:hover {
  color: #222f3e;
  cursor: pointer;
}


.About {
margin-bottom:90px;

}
.Mypicsclass {
font-family: "Public Sans", sans-serif;
}
/*not sure if I need this class, is on all carousel images but not using it yet, except for font? */

.me img {border:1px solid grey;
  border-radius: 50%;
      }

.meblurb {font-family:'Quicksand';
font-size:'.8rem';}      

.workerprofile {
  margin: 50px 0px;
  text-align: center;
}

.workerprofile img {width: 20%;
}

.profilecaption {
  padding-left: 90px;
  display: inline-block;
}  


.uploadprofilepic {
}

.blurbfont {
  font-family: quicksand;
  font-size: 1rem;
  color:#434343
}

.quickLogin {
  display:inline-block;
  margin-left:auto;
  margin-right:auto;
  font-family: "Public Sans", sans-serif;
  font-style: italic;
  opacity:.6;
  width:70%;
}

.chooseLogIn {
  margin-bottom: 80px ;
  padding-top:30px;
}

.chooseLogIn button {
  width:30%;
}

.headingsmall {display: none}

.Fader {
  margin-top:50px;
    display:inline-block;
    width:70%;
    color:#2e4c63;
    font-family: 'Quicksand';
    font-size:18px;
    animation: fadeinout 4s linear infinite;
    opacity: 0.2;
    position: relative;   
}


@keyframes fadeinout {
  50% { opacity: 1; }
}


figure {color:#2e4c63;
font-family: 'quicksand'}
/*need to distinguish the names from the categories on the carousel*/

.buttstyle {
   color: #1B6EB0;
  background-color:white;
  margin:20px;
  padding:6px 16px;
  height: auto;
  border: 1px solid #1B6EB0;
  border-radius:5px;
}

form {margin-bottom:300px;}

.mediastuff {display:block;
  margin-top:50px;
   margin-left:auto;
  margin-right:auto;
}

.mediaitem {
  display:inline-block;

}

.carimages {
  padding: 20px;
  border-radius: 50%;
  height: 350px;
  width: 350px;
}

.Gallerywrapper {
  padding-top: 20px;
  background-color: white;
  padding-left: 20px; 
  padding-right: 20px;  
}

.mainCarouselWrapper {
}
/* this can probably just be a react fragment, but keep it here for now in case i need to change naything.*/


/*NavBar and Dropdown CSS begins*/

/*Mynavbar is a long container div with 3 columns, first for logo and dropdown, second blank, third for authlinks*/
.Mynavbar {
  display: grid;
  background-color: #fff;
  grid-template-columns: 1fr 8fr 1fr 1fr;
  justify-content: center;
  padding: 30px 0px;
  grid-column-gap: 0px;
}

/*the container div for the actual logo symbol*/
.logocontainer {
  position: relative;
  grid-column: 1;
  bottom: 20px;
}

.logo {
  margin-top: 10px;
  height: 60px;
  width: 60px;
}

.logo:hover {
  cursor: pointer;
}


.dropbar {
  width:10px;
  position:relative;
  grid-column: 3;
  left:90px;
  color: #1B6EB0;
}


.hamburger {
  position:relative;
  left:40px;
  grid-column: 4;
  width:10px;

}



/*navbar ends*/





/*Lwrapperdiv and Colmdiv are in Galrender, and are just the Lightbox component*/
.Lwrapperdiv {
  padding: 45px;
  display: grid;
  justify-items: center;
  margin-top: 90px;
  background-color:#f1f1f1;
  border-radius: 5px;
}

.colmdiv {
  height: 70%;
  width: 70%;
  background-color: #fff;
}


/*lightbox ends*/


#bioelement {
  margin: 50px 0px;
  padding-top: 55px;
  display:block;
  background-color:#f1f1f1;
  border-radius: 5px;
}

.Biolist {
  color:#434343;
  font-family: 'EB Garamond', serif;
  font-weight:500;
  font-size:20px;
  display:inline-block;
  margin-bottom: 30px;
  padding:0;
  width:50%;
  list-style-type: none;
  
  background-color: #fff;
  outline-style:solid;  
    outline-color:#fff; 
    outline-width:10px;
    box-shadow: 0 0 2pt 15pt #fff;;

}

.light {
  font-weight:400;
  opacity: .8;
}

#blurbdiv {
  width: 50%;
  display:inline-block;
  margin:60px 0px;
  color: #434343;
  background-color: #fff;
  outline-style:solid;  
    outline-color:#fff;    
    outline-width:10px;
    box-shadow: 0 0 2pt 15pt #fff;;

}


.bouncercontainer {
  margin:20px 0px;
  width:15px;
  height:15px;
  display:block;
  margin: 0 auto;
}


.colum p {font-family: papyrus;
          font-weight:lighter;}
/*this is for the testimonials*/


li a {color:black;}


/*bouncing animation begins. */

.bouncer {


  width:15px;
  animation: bounce 0.5s;
  animation-direction: alternate;
  animation-timing-function: cubic-bezier(.5,0.05,1,.5);
  animation-iteration-count: infinite;
}

@keyframes bounce {
  from { transform: translate3d(0, 0, 0);     }
  to   { transform: translate3d(0, 10px, 0); }
}

/* Prefix Support 
bouncer {
  -webkit-animation-name: bounce;
  -webkit-animation-duration: 0.5s;
  -webkit-animation-direction: alternate;
  -webkit-animation-timing-function: cubic-bezier(.5,0.05,1,.5);
  -webkit-animation-iteration-count: infinite;
}

@-webkit-keyframes bounce {
  from { -webkit-transform: translate3d(0, 0, 0); transform: translate3d(0, 0, 0); }
  to   { -webkit-transform: translate3d(0, 200px, 0); transform: translate3d(0, 200px, 0); }
}
/*bouncing animation ends*/







/* TESTIMONIAL BEGINS*/

.mybasediv{
  margin: 0;
  padding-top: 150px;
  font-family: "montserrat",sans-serif;
  margin-bottom:150px;
}
.testimonials{
  border:3px solid #f1f1f1;
  border-radius: 5px;
  padding: 40px 0;
  background: #f1f1f1;
  color: #434343;
  text-align: center;
}

.testimonials p {
  opacity:0.9;
}

.inner{
  max-width: 1200px;
  margin: auto;
  overflow: hidden;
  padding: 0 20px;

}

.border{
  width: 160px;
  height: 5px;
  background: #1B6EB0;
  opacity:0.7;
  margin: 26px auto;
}

.roww{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.colum{
  flex: 33.33%;
  max-width: 33.33%;
  box-sizing: border-box;
  padding: 15px;
}
.testimonial{
  background: #fff;
  padding: 30px;
  border-radius: 5px;


}

.testimonial img{
  width: 100px;
  height: 100px;
  border-radius: 50%;
}
.name{
  font-size: 20px;
  font-family: EBGaramond;
  font-weight: 500;
 color: #434343;;
  margin: 20px 0;
}
.stars{
  color: #1B6EB0;
  opacity:0.7;
  margin-bottom: 20px;
}


@media screen and (max-width:960px) {
.colum{
  flex: 100%;
  max-width: 80%;
}
}

@media screen and (max-width:600px) {
.colum{
  flex: 100%;
  max-width: 100%;
}
}

/*TESTIMONIAL ENDS*/



/* SOCIAL STUFF */
.social-container {
  background: #F1F1F1;
  padding: 10px 50px;
  
  font-family: "Public Sans", sans-serif;
  position:absolute;
  left:0;
bottom:0;
right:0;
}

.social-container h3 {
  opacity: 0.8;
  font-size:17px;
}
a.social {
  margin: 0 1rem;
  transition: transform 250ms;
  display: inline-block;
}

a.social:hover {
  transform: translateY(-2px);
}

a.youtube {
  color: #eb3223;
}

a.facebook {
  color: #4968ad;
}

a.twitter {
  color: #49a1eb;
}

a.instagram {
  color: white;
  border-radius:15%;
  height:33px;
background: radial-gradient(circle at 30% 107%, #fdf497 0%, #fdf497 5%, #fd5949 45%, #d6249f 60%, #285AEB 90%); }

/*SOCIAL STUFF ENDS*/




@media only screen and (max-width: 1100px) {
  .hamburger {margin-left:20px;}

  .dropbar {margin-right:10px;}

  .Mynavbar {padding-left: 20px;
    padding-right: 30px;   
}

}


@media only screen and (max-width: 800px) {

.Mynavbar {
  padding-right: 40px ;
   grid-column-gap: 20px;
  margin-right:20px;}

.dropbar {
  margin-right: 20px;
  
}

.hamburger {margin-left:40px;
padding-right: 30px;}

.mediastuff {
  margin-left:50px;
}

  .mainCarouselWrapper {
padding-right: 0px;
margin:0px 00px;
}

#blurbdiv {
  width:70%;
  font-size: .8 rem;
} 


.Fader {
  margin-top:30px;
  margin-bottom:150px;
    font-size: .9rem;   
}

}


 

@media only screen and (max-width: 500px) {
  .carimages {
    padding: 00px;
    border-radius: 50%;
    height: 250px;
    width: 250px;
   }

   .hamburger{
    padding-right: 20px;
   }



.dropbar {right: 10px;}

.hamburger {margin-right: 10px;}

.logocontainer{
  
}

/*in the about or welcome x*/
.headingbig {display:none;}
.headingsmall {display:inherit;}


.Biolist {
  
  font-size:18px;
  display:inline-block;
  margin: 50px 0px;
  padding:10px 0px;
  width:65%;
  list-style-type: none;
  background-color: #fff;
  outline-style:solid;  
    outline-color:#fff; 
    outline-width:10px;
    box-shadow: 0 0 2pt 15pt #fff;
}




.Fader {
  margin-top:0px;
  margin-bottom:150px;
    font-size: .8rem;
    width:90%; 
}


.mediastuff {
  margin-left:50px;
}

.chooseLogIn {
  margin-bottom: 180px;
}

#bioelement {
  padding:0px;
  margin:0px;
  background-color:#f1f1f1;
}

#blurbdiv {
  
  background-color: #fff;
  outline-style:solid;  
    outline-color:#fff; 
    outline-width:10px;
    box-shadow: 0 0 2pt 15pt #fff;
}

.blurbfont {
  font-size:.8rem;
}

.profilecaption {
  font-size:10px;
  margin: 0;
  position:relative;
  right:20px;
}

.dropbar {
}

.mainCarouselWrapper {
padding: 00px;
margin:0px 00px;
}

 
}

/*classes to keep, mypicsclass, mynavbar, gallerywrapper, myelement, mybotelement, myel?, Lwrapperdiv, colmdiv*/
